<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menadzeri</title>
    <script src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/menadzeri.js"></script>
</head>
<body>
<!-- Kada korisnik klikne Add, poziva se metoda addNewEmployee, koja se nalazi u employees.js -->
<form id="addEmployeeForm">
    <label for="lastName">Username:</label>
    <input id="username" type="text"/><br>
    <label for="lastName">Password:</label>
    <input id="password" type="text"/><br>
    <label for="firstName">Ime:</label>
    <input id="firstName" type="text"/><br>
    <label for="lastName">Prezime:</label>
    <input id="lastName" type="text"/><br>
    <input type="submit" value="Add">
</form>
</body>
</html>