<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>Home Page</title>
  <meta charset="utf-8"/>
</head>
<body>
<h1>Welcome</h1>

<a type="button" href="korisnici.html" class="btn">Prikazi sve korisnike</a>
<a type="button" href="login-menadzer.html" class="btn">Prijava za menadzere</a>
<a type="button" href="login-dostavljac.html" class="btn">Prijava za dostavljace</a>
<a type="button" href="login-kupac.html" class="btn">Prijava za kupce</a>
<a type="button" href="login-admin.html" class="btn">Prjava za admina</a>
</body>
</html>