<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registracija</title>
</head>
<body>
<h1>Registracija novog kupca</h1>

<form id="registracija">
    <label for="lastName">Username:</label>
    <input id="username" type="text"/><br>
    <label for="lastName">Password:</label>
    <input id="password" type="text"/><br>
    <label for="firstName">Ime:</label>
    <input id="firstName" type="text"/><br>
    <label for="lastName">Prezime:</label>
    <input id="lastName" type="text"/><br>
    <a href="kupac.html"><input type="submit" value="Registruj se"></a>
</form>
</body>
</html>